@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 220 15% 11%;
		--foreground-paragraph: 215 15% 35%;
		--card: 0 0% 8%;
		--card-foreground: var(--background);
		--popover: var(--background);
		--popover-foreground: var(--foreground);
		--primary: 172 100% 34%;
		--primary-green: 160 90% 39%;
		--primary-blue: 184 90% 41%;
		--primary-foreground: var(--background);
		--secondary: 0 0% 95%;
		--secondary-foreground: 0 0% 9%;
		--muted: var(--secondary);
		--muted-foreground: 0 0% 45.1%;
		--accent: 0 0% 98%;
		--accent-foreground: var(--foreground);
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 91%;
		--input: var(--border);
		--ring: var(--primary);
		--radius: 1rem;
	}
}

@layer base {
	:root {
		@apply font-body;
	}

	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
		@apply selection:bg-primary selection:text-primary-foreground;
	}
}

/* Base Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply mb-[0.75em] mt-[1.25em] font-bold leading-5 tracking-tight first:mt-0;
}

h1 {
	@apply mb-12 bg-card py-6 text-center text-4xl font-light text-card-foreground md:text-start;
	--padding-x: max(1rem, calc(((100% - 1200px) / 2) + 1rem));
	padding-left: var(--padding-x);
	padding-right: var(--padding-x);
}

h2 {
	@apply container text-center text-4xl;
}

#guests h2,
#collaborators h2 {
	@apply md:text-start;
}

h3 {
	@apply container text-center text-3xl md:text-start;
}

h4 {
	@apply text-lg text-center md:text-start;
}

p {
	@apply text-center text-base/[1.5] text-foreground-paragraph md:text-start md:text-lg/[1.5] my-6;
}

ul,
ol {
	@apply pl-5;
}

ol {
	@apply list-decimal;
}

ul {
	@apply list-disc;
}

li {
	@apply text-base/[1.5] text-foreground-paragraph md:text-lg/[1.5] [&:not(:last-child)]:mb-3;
}

li p {
	@apply !mb-[0.75em] !mt-0 text-start;
}

ol > li {
	@apply pl-1;
}

li::marker {
	@apply font-bold text-primary;
}

p a {
	@apply text-primary hover:opacity-70;
}

pre:has(code) {
	@apply overflow-auto rounded-2xl bg-gray-50 p-6;
}

code {
	@apply rounded bg-gray-50 px-2 py-1 text-base text-gray-500;
}

pre code {
	@apply rounded-none bg-none p-0;
}

table {
	@apply my-10 w-full text-base sm:w-auto;
}

thead {
	@apply border-b border-gray-200;
}

tbody tr:nth-child(even) {
	@apply rounded-lg bg-gray-50;
}

td,
th {
	@apply px-4 py-3 text-start;
}

th {
	@apply font-semibold text-foreground;
}

td {
	@apply text-foreground-paragraph;
}

strong {
	@apply font-semibold;
}

img {
	@apply inline-block h-[revert-layer] rounded-lg object-contain;
}

/* Utilities */

.bottom-fade {
	--mask: linear-gradient(to bottom, #000 90%, transparent);
	mask-image: var(--mask);
}

.strong-underline strong {
	font-weight: inherit;
	position: relative;
}
.strong-underline strong::after {
	background-image: var(--underline);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	content: '';
	display: block;
	height: 0.3em;
	left: -0.2em;
	position: absolute;
	top: calc(100% - 0.15em);
	width: calc(100% + 0.4em);
}

.apply-text a {
	@apply text-foreground-paragraph/50 transition-opacity hover:opacity-70;
}

.slogan p,
.apply-text p {
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	line-height: inherit;
	text-align: inherit;
}

.strong-medium strong {
	@apply font-medium;
}

.shadow-center {
	box-shadow: 0 0 25px -7px rgba(0, 0, 0, 0.2);
}

.rounded-tab {
	@apply relative;
}

.rounded-tab::before,
.rounded-tab::after {
	@apply absolute h-2 w-2 content-[''];
}

.rounded-tab::before {
	@apply bottom-0 left-0 -translate-x-full rounded-br-full shadow-[5px_5px_0_5px_white] md:left-auto md:right-0 md:top-0 md:-translate-y-full md:translate-x-0;
}

.rounded-tab::after {
	@apply bottom-0 right-0 translate-x-full rounded-bl-full shadow-[-5px_5px_0_5px_white] md:translate-x-0 md:translate-y-full md:rounded-tr-full md:shadow-[5px_-5px_0_5px_white];
}

.font-size-unset p {
	font-size: unset;
}
