@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 220 15% 11%;
		--foreground-paragraph: 215 15% 34%;
		--card: 0 0% 8%;
		--card-foreground: var(--background);
		--popover: var(--background);
		--popover-foreground: var(--foreground);
		--primary: 172 100% 34%;
		--primary-green: 160 90% 39%;
		--primary-blue: 184 90% 41%;
		--primary-foreground: var(--background);
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--muted: var(--secondary);
		--muted-foreground: 0 0% 45.1%;
		--accent: 0 0% 98%;
		--accent-foreground: var(--foreground);
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 91%;
		--input: var(--border);
		--ring: var(--primary);
		--radius: 1rem;
	}
}

@layer base {
	:root {
		@apply font-body;
	}

	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
		@apply selection:bg-primary selection:text-primary-foreground;
	}
}

/* Base Styles */

h1 {
	@apply text-4xl font-light;
}

h2 {
	@apply text-4xl font-bold;
}

h3 {
	@apply text-3xl font-bold;
}

h4 {
	@apply text-2xl font-bold;
}

p {
	@apply my-8 text-justify text-lg leading-[1.875rem] text-foreground-paragraph md:text-start;
}

blockquote {
	@apply mt-6 border-l-2 pl-6 italic;
}

code {
	@apply relative rounded-md bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
}

table {
	@apply w-full;
}

tr {
	@apply m-0 border-t p-0 even:bg-muted;
}

th {
	@apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
}

ul {
	@apply my-6 ml-6 list-disc [&>li]:mt-2;
}

li::marker {
	@apply text-primary;
}

small {
	@apply text-sm;
}

strong {
	@apply font-semibold;
}

.markdown a {
	@apply font-medium text-primary transition-opacity;
}

.markdown a:hover {
	@apply opacity-70;
}

img {
	@apply inline-block h-[revert-layer];
}

.markdown img,
.html img {
	@apply rounded-md;
}

#international-cooperation img {
	--radius: 0.75rem;
}

/* Utilities */

.bottom-fade {
	--mask: linear-gradient(to bottom, #000 90%, transparent);
	mask-image: var(--mask);
}

.strong-underline strong {
	font-weight: inherit;
	position: relative;
}
.strong-underline strong::after {
	background-image: var(--underline);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	content: '';
	display: block;
	height: 0.3em;
	left: -0.2em;
	position: absolute;
	top: calc(100% - 0.15em);
	width: calc(100% + 0.4em);
}

.slogan {
	@apply container my-20 max-w-[40rem] text-center text-[2.75rem]/[1.1] font-bold;
}

.slogan p {
	margin: 0;
	font-size: inherit;
	color: inherit;
	line-height: inherit;
	text-align: inherit;
}
