@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71% 4%;
		--foreground-paragraph: 215 14% 34%;
		--card: 240 6% 10%;
		--card-foreground: 0 0% 98%;
		--popover: var(--background);
		--popover-foreground: var(--foreground);
		--primary: 172 100% 34%;
		--primary-green: 160 90% 39%;
		--primary-blue: 184 90% 41%;
		--primary-foreground: 0 0 100%;
		--secondary: 216 12% 84%;
		--secondary-foreground: var(--foreground);
		--muted: var(--secondary);
		--muted-foreground: var(--secondary-foreground);
		--accent: 210 20% 98%;
		--accent-foreground: var(--foreground);
		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 100%;
		--border: 220 13% 91%;
		--input: 220 14% 96%;
		--ring: var(--primary);
		--radius: 1rem;
	}
}

@layer base {
	:root {
		@apply font-body;
	}

	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
		@apply selection:bg-primary selection:text-primary-foreground;
		text-wrap: pretty;
	}
}

/* Base Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply mb-[1em] mt-[2.25em] font-bold tracking-tight first:mt-0;
}

h1 {
	@apply mb-12 bg-card py-6 text-center text-4xl font-light text-card-foreground md:text-start;
	--padding-x: max(1rem, calc(((100% - 1060px) / 2) + 1rem));
	padding-left: var(--padding-x);
	padding-right: var(--padding-x);
}

h2 {
	@apply container text-center text-4xl;
}

#guests,
#collaborators {
	h2 {
		@apply md:text-start;
	}
}

h3 {
	@apply container text-center text-3xl md:text-start;
}

h4 {
	@apply text-lg md:text-start;
}

p {
	@apply my-6 text-base/[1.5] text-foreground-paragraph max-md:text-center md:text-lg/[1.5];

	a {
		@apply text-primary transition-opacity hover:opacity-70;
	}
}

ul,
ol {
	@apply pl-5;
}

ol {
	@apply list-decimal;

	> li {
		@apply pl-1;
	}

	li::marker {
		@apply font-bold;
	}
}

ul {
	@apply list-disc;
}

li {
	@apply text-base/[1.5] text-foreground-paragraph md:text-lg/[1.5] [&:not(:last-child)]:mb-3;

	p {
		@apply !mb-[0.75em] !mt-0 text-start;
	}

	&::marker {
		@apply text-primary;
	}
}

pre:has(code) {
	@apply overflow-auto rounded-2xl bg-gray-50 p-6;
}

code {
	@apply rounded bg-gray-50 px-2 py-1 text-base text-gray-500;
}

pre code {
	@apply rounded-none bg-none p-0;
}

table {
	@apply my-10 w-full text-base sm:w-auto;
}

thead {
	@apply border-b border-gray-200;
}

tbody tr:nth-child(odd) {
	@apply rounded-lg bg-gray-50;
}

td,
th {
	@apply px-4 py-3 text-start;
}

th {
	@apply font-semibold text-foreground;
}

td {
	@apply text-foreground-paragraph;
}

strong {
	@apply font-semibold;
}

img {
	@apply inline-block h-[revert-layer] rounded-lg object-contain;
}

form {
	--description: #828899;
	--placeholder: #9ca4b1;
	--checkbox: #e7eaef;
	--input: #f2f4f7;

	@apply container mt-12 text-sm;

	fieldset {
		@apply flex w-full flex-col gap-2;

		label,
		legend {
			@apply font-medium;
		}

		input,
		textarea,
		select {
			@apply rounded-[0.5rem] bg-[var(--input)] px-3.5 py-2 outline-primary;

			::placeholder {
				@apply text-[var(--placeholder)];
			}
		}

		select {
			@apply relative appearance-none;

			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23828899' d='M12.707 15.707a1 1 0 0 1-1.414 0L5.636 10.05A1 1 0 1 1 7.05 8.636l4.95 4.95l4.95-4.95a1 1 0 0 1 1.414 1.414z'/%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: right 0.75rem center;
		}

		textarea {
			min-height: calc(3lh + 1rem);
		}

		:has(> input[type='checkbox']),
		:has(> input[type='radio']) {
			input,
			label {
				@apply cursor-pointer;
			}
		}

		input[type='checkbox'] {
			@apply size-4 appearance-none rounded bg-[var(--checkbox)] p-0;

			&:checked {
				@apply bg-primary;

				background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
			}
		}

		input[type='radio'] {
			@apply my-0.5 size-4 shrink-0 appearance-none bg-[var(--checkbox)] p-0;

			&:checked {
				@apply flex items-center justify-center bg-primary;

				&::after {
					@apply block size-1.5 rounded-full bg-primary-foreground content-[''];
				}
			}
		}

		input[type='number'] {
			@apply w-40 appearance-none pr-20;

			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				appearance: none;
			}
		}

		.unit {
			@apply pointer-events-none absolute right-3.5 top-1/2 -translate-y-1/2 text-[var(--placeholder)];
		}

		.description {
			@apply inline-markdown text-[var(--description)];
		}
	}

	.response {
		@apply grid w-full gap-4;

		grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
	}
}

/* Utilities */

.bottom-fade {
	--mask: linear-gradient(to bottom, #000 90%, transparent);
	mask-image: var(--mask);
}

.strong-underline strong {
	font-weight: inherit;
	position: relative;

	&::after {
		background-image: var(--underline);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		content: '';
		display: block;
		height: 0.3em;
		left: -0.2em;
		position: absolute;
		top: calc(100% - 0.15em);
		width: calc(100% + 0.4em);
	}
}

.apply-text a {
	@apply text-inherit hover:opacity-70;
}

.slogan p,
.apply-text p {
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	line-height: inherit;
	text-align: inherit;
}

.strong-medium strong {
	@apply font-medium;
}

.shadow-center {
	box-shadow: 0 0 25px -7px rgba(0, 0, 0, 0.2);
}

.rounded-tab {
	@apply relative;

	&::after,
	&::before {
		@apply absolute h-2 w-2 content-[''];
	}

	&::before {
		@apply bottom-0 left-0 -translate-x-full rounded-br-full shadow-[5px_5px_0_5px_white] md:left-auto md:right-0 md:top-0 md:-translate-y-full md:translate-x-0;
	}

	&::after {
		@apply bottom-0 right-0 translate-x-full rounded-bl-full shadow-[-5px_5px_0_5px_white] md:translate-x-0 md:translate-y-full md:rounded-tr-full md:shadow-[5px_-5px_0_5px_white];
	}
}

.font-size-unset p {
	font-size: unset;
}

.inline-markdown {
	p {
		margin: 0;
		font-size: inherit;
		color: inherit;
		line-height: inherit;
		text-align: inherit;
	}
}

.object-cover {
	overflow-clip-margin: unset;
}
